<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
  <input type="text"  name="aa" [(ngModel)]="email" placeholder="email">
  <input type="password"  name="first" [(ngModel)]="password" placeholder="email">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>
Our input fields two-way bind to the email and password
<div class="wrapper" *ngIf="authService.user | async">
    <span>message:</span>
    <input type="text" name="message" [(ngModel)]="message" placeholder="some text"><br>
    <span>phone number:</span>
    <input type="text" name="sendTo" [(ngModel)]="sendTo" placeholder="phone number"><br>
    <button (click)="updateData()">updateData</button>
    <button (click)="sendMessage()">send message</button>
</div>
<div class="wrapper" *ngIf="authService.user | async">
  <span>FCMmessageTitle:</span>
  <input type="text" name="sendTo" [(ngModel)]="msgService.title" placeholder="title"><br>
  <span>FCMmessageBody:</span>
  <input type="text" name="message" [(ngModel)]="msgService.body" placeholder="body"><br>
  <button (click)="msgService.storeAndSendMessage()">store and send message</button>
</div>
<div class="wrapper message" *ngIf="(FCMmessage | async)?.notification.title">
  <img [src]="(FCMmessage | async)?.notification.icon"/>
  <div>
    <p class="title">{{ (FCMmessage | async)?.notification.title }}</p>
    <p>{{ (FCMmessage | async)?.notification.body }}</p>
  </div>  
</div>